/* Fonts */
@font-face {
    font-family: 'MainFont';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'DisplayFont';
    src: url('../fonts/Lalezar/Lalezar-Regular.ttf');
}

/* ======= */


* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: #5f597e;
    --secondary-color: #2e122f;
    --third-color: #fad02c;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: MainFont;
    padding: 0;
    background-color: rgb(230, 230, 230);
    position: relative;
    overflow-x: hidden;
}

section {
    margin: 10vh 0;
    min-height: 100vh;
}


/*----------------- Header ----------------------*/

header {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--secondary-color);
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: none;
}

#logo-container {
    flex: 0.5;
    margin: 5px 0 5px 15px;
}

#logo-container img {
    height: 70px;
    width: auto;
}

header nav {
    flex: 4;
    margin-right: 10px;
}

header nav ul {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    row-gap: 40px;
}

header nav li {
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 1.2em;
    border-radius: 2px;
    transition: background 0.3s ease-in-out, color 0.4s ease-in-out;
}

header nav a:hover {
    background-color: var(--main-color);
    color: var(--third-color);
}

header .social-links {
    flex: 0.1;
    align-self: flex-start;
    margin-top: 10px;
}

.social-links i {
    transform: rotate(45deg);
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.social-links i:hover {
    transform: scale(1.2);
}


/*         Home          */

#home {
    margin: 0 0 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 0 0 150px;
    gap: 60px;
    min-height: 100vh;
    background: url('../img/banner.png') no-repeat right bottom;
    background-size: 50%;
    background-attachment: fixed;
    background-color: #fdfdfd;
}

#home h1 {
    font-family: 'DisplayFont';
    font-size: 4.5em;
}

#home h1 #fit {
    font-size: 1em;
    color: var(--secondary-color);
}

#home h1 span {
    font-size: 1.5em;
    color: var(--third-color);
}

#home p {
    font-size: 2em;
}

/* =================== */
/*   Services  */
#services {
    margin: 4vh 0;
}

.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.service-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    padding: 10px;
    min-height: 400px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: var(--secondary-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.service-box:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
        -8px -8px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.service-box h1 {
    color: var(--third-color);
}

.service-img {
    padding: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5),
        -5px -5px 12px rgba(0, 0, 0, 0.5);
}

.service-img i {
    font-size: 2em;
    color: var(--main-color);
}

.service-box p {
    text-align: justify;
}

/* ======== */

/* --------- Trainer --------- */
#trainers {
    background: url('../img/trainerbg.svg');
    margin: -5px;
}

.trainer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    row-gap: 25px;
    column-gap: 15px;

}

.trainer-box {
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    min-height: 420px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #fad02c;
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.trainer-box:hover {
    transform: translateY(-10px);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
        -8px -8px 16px rgba(0, 0, 0, 0.5);
}

.trainer-box h1 {
    color: var(--secondary-color);
}

.trainer-box h3 {
    color: var(--main-color);
    text-decoration: underline;
}

.trainer-box p {
    text-align: justify;
}

.trainer-box img {
    width: 120px;
    height: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: white;

}

/* =================== */
/* ======= Gallery ====== */
#gallery-container {
    display: flex;
    justify-content: space-evenly;
    row-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.img__wrap {
    position: relative;
    height: auto;
    max-width: 500px;
    overflow: hidden;
}

.img__description {
    font-size: 25px;
    margin: auto;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding: 30% 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(95, 89, 126, 0.486);
    color: #fff;
    visibility: hidden;
    font-family: 'DisplayFont';
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

#gallery-container img {
    max-width: 500px;
    height: auto;
    border: 3px solid var(--main-color);
}

/* ------------ Packages ------------- */
.package-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.package-box {
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    min-height: 500px;
    margin: 30px 0;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.package-box:hover {
    transform: translateY(-10px);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
        -8px -8px 16px rgba(0, 0, 0, 0.5);
}

.package-box h1 {
    color: var(--secondary-color);
    font-size: 3em;
}

.package-box h3 {
    color: var(--third-color);
    font-size: 1.5em;
}

.package-box p {
    text-align: justify;
    color: whitesmoke;
}

#packages {
    min-height: 110vh;
    background: url('../img/packagesbg.svg');
    margin: 0px;

}

/* ================================ */
/* ======== Contact Us ======== */
#contact_us_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.address {
    color: var(--secondary-color);
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    font-size: 1.2em;
    align-self: flex-start;

}

.address h3 {
    text-decoration: underline;
    font-size: 1.6em;
}

.address i {
    margin-right: 10px;
}

.address a {
    color: var(--main-color);
}


#contact_us form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 80vh;
    padding: 30px;
    background-color: rgba(46, 18, 47, 0.5);
    border-radius: 5px;
    min-width: 50vw;
    transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.4s ease;
}

#contact_us form:hover,
#contact_us form:focus-within {
    transform: translateY(-10px);
    box-shadow: 5px 5px 15px 5px rgba(46, 18, 47, 0.3),
        -5px -5px 15px 5px rgba(46, 18, 47, 0.3);
    background-color: rgba(46, 18, 47, 0.7);
}
#contact_us form:hover input[type="submit"] {
    background-color: #2a142bb6;
}
#contact_us form textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact_us form label {
    font-size: 1.2em;
    color: rgb(255, 255, 168);
    margin: 5px 0;
}

#contact_us .form_element {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 168);
}

#contact_us .form_element:focus,
#contact_us textarea {
    outline: none;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 10px 5px var(--main-color);
}

#contact_us input[type="submit"] {
    margin: 10px auto;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    border: none;
}

#contact_us input[type="submit"]:active {
    background-color: #065796;
}

/* ========================== */
footer {
    background-color: #2e122f;
    padding: 30px 0 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

footer #main {
    color: var(--third-color);
    opacity: .5;
    flex: 1;
}

footer #social-btn {
    font-size: 1.3em;
}

footer #social-btn i {
    color: white;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}


/* Footer ICON CUSTOM */
#social-btn .fa-facebook:hover {
    color: #3b5998;
    transform: translateY(-2px);
}

#social-btn .fa-instagram:hover {
    color: #86106d;
    transform: translateY(-2px);
}

#social-btn .fa-youtube:hover {
    color: #c4302b;
    transform: translateY(-2px);
}

#social-btn .fa-whatsapp:hover {
    color: #54f134;
    transform: translateY(-2px);
}

#social-btn .fa-twitter:hover {
    color: #00acee;
    transform: translateY(-2px);
}

#social-btn .fa-snapchat:hover {
    color: #FFFC00;
    transform: translateY(-2px);
}


/* ----------- */



/* Utility Classes */
.section-title {
    text-align: center;
    font-family: 'DisplayFont';
    font-size: 4em;
    text-decoration: underline solid black;
    color: var(--secondary-color);
    margin: 0 0 8vh;
}


.btn-style {
    background-color: var(--main-color);
    color: whitesmoke;
    text-transform: uppercase;
    padding: 12px 8px;
    text-decoration: none;
    outline: none;
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-style:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.568);
}

.btn-style:active {
    background-color: var(--third-color);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.568);
}

/* ====================== */




/* Media */
@media screen and (max-width: 900px) {

    section {
        margin: 2vh 0;
        min-height: 100vh;
    }




    header {
        display: flex;
        flex-flow: column wrap;
        background-color: var(--secondary-color);
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        min-height: 70px;
        position: sticky;
        top: 0px;
        z-index: 5;
        padding: 30px 0;
    }

    #logo-container {
        flex: 0.2;
        margin: 0;
    }

    #logo-container img {
        height: 50px;
        width: auto;
    }

    header nav ul {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
    }

    header nav a {
        text-decoration: none;
        color: white;
        padding: 15px;
        font-size: 1em;
    }

    header nav a:hover {
        background-color: inherit;
        color: whitesmoke;
    }

    .social-links {
        flex: 0;
        visibility: collapse;
        display: none;
        width: 0;
        height: 0;
    }

    #home {
        background-attachment: scroll;
        padding: 0 0 0 50px;
        gap: 40px;
        min-height: 70vh;
        background: url('../img/banner.png') no-repeat center center;
        background-size: 90%;
    }

    #home h1 {
        font-family: 'DisplayFont';
        font-size: 4.5em;
    }

    #home h1 #fit {
        font-size: 0.9em;
        color: var(--secondary-color);
    }

    #home h1 span {
        font-size: 1.3em;
        color: var(--third-color);
    }

    #home p {
        font-size: 1.3em;
    }

    #gallery-container {
        display: flex;
        justify-content: center;
        row-gap: 20px;
        align-items: center;
        flex-wrap: wrap;
    }

    .img__wrap {
        position: relative;
        height: auto;
        max-width: 500px;
        overflow: hidden;
    }

    #gallery-container img {
        width: 95%;
    }

    .img__description {
        display: none;

    }

    .img__wrap:hover .img__description {
        display: none;
    }

    /* ------------ Packages ------------- */
    .package-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .package-box {
        border: 1px solid whitesmoke;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        min-height: 400px;
        margin: 30px 0;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--main-color);
        transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    }

    .package-box:hover {
        transform: none;
        box-shadow: none;
    }

    .package-box h1 {
        color: var(--secondary-color);
        font-size: 2.3em;
    }

    .package-box h3 {
        color: var(--third-color);
        font-size: 1.3em;
    }

    .package-box p {
        text-align: justify;
        color: whitesmoke;
    }

    #packages {
        min-height: 100vh;
        background: url('../img/packagesbg.svg');
        margin: 0px;

    }

    /* ======== Contact Us ======== */
    #contact_us_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

    }

    .address {
        color: var(--secondary-color);
        padding: 40px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        font-size: 1.3em;
        align-self: flex-start;

    }

    .address h3 {
        text-decoration: underline;
        font-size: 1.4em;
    }

    .address i {
        margin-right: 0px;
    }

    .address a {
        color: var(--main-color);
    }


    #contact_us form {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        min-height: 70vh;
        padding: 20px;
        background-color: rgba(46, 18, 47, 0.486);
        border-radius: 2px;
        width: 90vw;
        transition: transform 0.2s ease, box-shadow 0.3s ease;
    }

    #contact_us form:hover,
    #contact_us form:focus-within {
        transform: translateY(-10px);
        box-shadow: 5px 5px 15px 5px rgba(46, 18, 47, 0.3),
            -5px -5px 15px 5px rgba(46, 18, 47, 0.3);
    }

    #contact_us form textarea {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #contact_us form label {
        font-size: 1.2em;
        color: rgb(255, 255, 168);
        margin: 5px 0;
    }

    #contact_us .form_element {
        width: 90%;
        font-size: 16px;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid rgb(255, 255, 168);
    }

    #contact_us .form_element:focus,
    #contact_us textarea {
        outline: none;
        border: 1px solid var(--main-color);
        box-shadow: 0 0 10px 5px var(--main-color);
    }

    #contact_us input[type="submit"] {
        margin: 10px auto;
        width: 30%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1em;
    }

    #contact_us input[type="submit"]:active {
        background-color: #065796;
    }

    /* --------- Trainer --------- */
    #trainers {
        background: url('../img/trainerbg.svg');
        margin: -4px;
    }

    .trainer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        row-gap: 15px;
        column-gap: 10px;
    }

    .trainer-box {
        border: 1px solid whitesmoke;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        max-width: 270px;
        width: 45%;
        min-height: 500px;
        padding: 10px 5px;
        border-radius: 5px;
        background-color: #fad02c;
        transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    }

    .trainer-box:hover {
        transform: translateY(-10px);
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
            -8px -8px 16px rgba(0, 0, 0, 0.5);
    }

    .trainer-box h1 {
        color: var(--secondary-color);
        font-size: 1.2rem;
    }

    .trainer-box h3 {
        color: var(--main-color);
        text-decoration: underline;
        font-size: 1rem;
    }

    .trainer-box p {
        text-align: center;
        font-size: .8rem;
    }

    .trainer-box img {
        width: 150px;
        height: auto;
        clip-path: circle(50% at 50% 50%);
        background-color: white;

    }

    /* =================== */
    /* ========================== */

    footer {
        background-color: #2e122f;
        padding: 20px 0 0;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.452);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }

    footer #main {
        color: var(--third-color);
        opacity: .5;
        flex: 1;
    }

    footer #social-btn {
        font-size: 1.5em;
    }

    footer #social-btn i {
        color: white;
        padding: 10px;
        margin: 0 5px;
        cursor: pointer;
        transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
    }


    .svg-div {
        margin-top: 10vh;
        position: static;

    }
}


/* ======================= */